@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: Poppins;
   
}



.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../images/house5.jpg);
    background-size: cover;
    background-position: center;
    /* border-radius: 10px; */
    padding: 5%;
    color: #fff;
    
}

.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
    padding-left: 10px;
}

.cta p{
    font-size: 18px;
    margin: 10px 0;
    padding-left: 10px;
}

.listingImage{
    width: 400px;
    height: 300px;
    margin-left: 100px;
    border-radius: 20px;
}

.houseName{
    margin-left: 530px;
    margin-top: -10px;
    font-weight: 700;
    font-size: 22px;
}

.location{
    margin-left: 530px;
    margin-top: -299px;
}

.amenities{
    margin-left: 530px;
    margin-top: -3px;
}

.listing{
    margin-top: 190px;
    margin-bottom: -50px;
}

.listing i{
    color: #ff5361;
    font-size: 20px;
    margin: 10px 1px;
   
}

.star{
    margin-left: 530px;
    margin-top: -10px;
}

.house-price{
    text-align: right;
}

.house-price h4{
    font-size: 20px;
}

.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}

.list-container{
    margin-top: -140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col{
    flex-basis: 60%;
}



/* 
.sidebar{
    border: 1px solid #999;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-top: -100px;
    margin-left: 1400px;
    transform: translateX(100px);
    transform: translateY(-830px);
    float: right;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
} */
/* 
.filter{
    font-size: ;
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
} */


